<!DOCTYPE html>
<html>
    <head>
        <title>Product Details</title>
    </head>
    <body>
        <h1><%= product.title %></h1>
        <img src="<%= product.image %>" width="300">
        <p><%= product.description %></p>
        <h2>Rs <%= product.price %></h2>
        <form action="/add-to-cart/<%= product._id %>" method="post">
            <button type="submit">Add to Cart</button>
        </form>
    </body>
</html>